<div class="container">
  <h2>Add User</h2>
  <div class="panel panel-primary">
    <div class="panel-heading">New User</div>
    <div class="panel-body">
      <div class="row">
  <form ng-submit="addMessage()">
  <div class="col-sm-6">


        <div class="form-group">
          <input  class="form-control" placeholder="Enter the name" type="text" ng-model="message.nameSatsangi" required>
        </div>


        <div class="form-group">   

         <input  class="form-control" placeholder="Enter the UID" type="text" ng-model="message.uid" required>
         </div>


         <div class="form-group">

         <input  class="form-control" placeholder="Enter the Branch code" type="text" ng-model="message.branchCode" required>
          </div>


  </div>
  <div class="col-sm-6">

        <div  class="form-group">

         <input  id="barCodeN" class="form-control" placeholder="prempracharak or bhent..." type="text" ng-model="message.deps" required>
        </div>


        <div ng-hide="true" class="form-group">

         <input class="form-control" placeholder="Date" type="text" ng-model="message.dateValue" required>
         </div>

         <div class="form-group">
            
            <button type="submit" class="button"><span>Submit</span></button>
            
          </div>


      </div>
   
  </form>
</div>




    </div>
  </div>
</div>

<div ng-show="isNewUserAdded" class="alert alert-success">
  <strong>Success!</strong>New user added successfully
</div>

<div ng-show="alreadyPresent" class="alert alert-danger">
  <strong>Error!</strong>Duplicate values are not allowed
</div>

 




<!-- '<div id="navwrap">' +
              '<ul id="nav">'+
              '<li class=""><a href="#"></a>'+
              '<ul>'+
              '<a id="" class="branchCodeLinkSty" ng-click="grid.appScope.openDetails(row.entity,row.entity.uid)" href="">{{row.entity.branchCode}}</a>' +
              '<li><a href="#">Link2</a></li>'+
              '</ul>'+
              '</li>'+
              '</ul>'+
              '</div>' -->