<script type="text/ng-template" id="mapPresent.html">
       <div class="ui-grid-cell-contents">
         <input type="checkbox"
          name="checkbox-follow-btn"
          class="hide-checkbox-follow-btn"
          id="{{row.entity.uid}}"
          ng-model="userAttendanceLabel.attendanceStatus"
          ng-true-value="'PRESENT'" 
          ng-false-value="'ABSENT'"
          /> 
          <span  for="ui-grid-cell-contents" class="glyphicon glyphicon-ok"></span>

        </div>
</script>


<script type="text/ng-template" id="templateId">
    <h4>{{selectedNameOfActivity}} - {{attendanceForThisData}}</h4>
    <p>Satsangies present :{{totalItems}}</p>
</script> 



 <script type="text/ng-template" id="mapAddress.html">
      <div class="ui-grid-cell-contents">
        <button id="{{row.entity.uid}}" class="btn btn-primary" type="button" ng-click="grid.appScope.markPlusPresents(row.entity)">+1</button>
        &nbsp;
        <button class="btn btn-danger" type="button" ng-click="grid.appScope.markDepsAbsent(row.entity)">-1</button>
      </div>
</script>


<div ng-show="isUserMarkedPresent && !isUserAlreadyMarkedPresent" class="alert alert-success">
  <strong>Success!</strong>User Presence marked Successfully
</div>
<div ng-show="isUserAlreadyMarkedPresent" class="alert alert-danger">
  <strong>Error!</strong>User Presence Already marked for this date!! 
</div>

<div id="barCodeInput" class="col col-md-4">
&nbsp;&nbsp;<input class="form form-control" width="15px" type="text" placeholder="Place the cursor here and Scan the bar code..." ng-model="barCode"/>
</div>
&nbsp;
<div width="100%" class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        

    <button  ng-show="!showTodaysCountPresent" class="btn btn-success" ng-click="showTodaysCountForCopy()">&nbsp;&nbsp;Head Count</button>
    &nbsp;&nbsp;
    <!-- <span ng-show="showTodaysCountPresent">Present  = {{dateKeysCountNumber.length}}</span> -->
     <b><u>{{columnTitle1MarkAtt}}</u></b>&nbsp;<b><u>{{columnTitle2MarkAtt}}</u></b><span  ng-show="showTodaysCountPresent">&nbsp;Head Count  = {{totalItemsMarkAtt.valueNumMarkAtt}}
    
     </span>
   

<button class="btn btn-success" ng-click="showHideToggleGridButtons()">Tools&nbsp;<span class="glyphicon glyphicon-cog"></span></button>&nbsp;
<div ng-hide="true" class="col-md-3">
<input placeholder="Search Linked" id="searchLinkedId" class="form-control" ng-model="searchLinked" />
</div>
<button ng-disabled="toggleMainGrid" ng-hide="toggleToolButton" class="btn btn-primary" ng-click="showHideAttGrid()">Attendance Grid<span class="glyphicon glyphicon-ok"></span></button> 
<button ng-click="uploadAttendance()" class="btn btn-primary">Upload File<span class="glyphicon glyphicon-upload"></span></button>
<hr/>
<div ng-show="showUploadFile">
<input  type="file" id="myFile" ng-model="myFileModell" multiple size="50" ng-change="showUploadFileFunction()">
<div id="uploadedFile"></div>
<button class="btn btn-primary" ng-click="saveAttendanceOfflineToDB()">Save Attendance</button>
</div>

<!-- <button ng-disabled="toggleAttGrid" ng-hide="toggleToolButton" class="btn btn-success" ng-click="showHideMainGrid()">Adminstrator Grid<span class="glyphicon glyphicon-screenshot"></span></button> -->

<!-- <button ng-disabled="toggleVirtualGrid" ng-hide="toggleToolButton" class="btn btn-default" ng-click="showHideVirtualGrid()">Virtual<span class="glyphicon glyphicon-virtual"></span></button> -->


<!-- <button ng-hide="toggleToolButton" id="checkAttendanceButtonId" class="btn btn-success" ng-click="getAttendance()"><i class="fa fa-attendance" style="font-size:15px;color:red"></i>&nbsp;Refresh bulbs&nbsp;<span class="glyphicon glyphicon-refresh"></span></button> -->

<!-- <button ng-hide="toggleToolButton" class="btn btn-success" ng-click="showHideExceptionDiv()"><i class="fa fa-attendance" style="font-size:15px;color:red"></i>&nbsp;Exception&nbsp;<span class="glyphicon glyphicon-exclamation-sign"></span></button> -->


<!-- <button  class="btn btn-success" ng-click="gotoTV()" href="#temporaryVisitors"><i class="glyphicon glyphicon-arrow-right" style="font-size:15px;color:white"></i>Temporary Visitors&nbsp;<span class=""></span></button>  -->

<!-- <button  class="btn btn-success" ng-click="openCentral()" href=""><i class="glyphicon glyphicon-new-window" style="font-size:15px;color:white"></i>Update Attendance Count to Central Website</button>  -->


 
<div ng-show="toggleExceptionDiv">
<input ng-hide="toggleToolButton" class="form-control" type="text" placeholder="Enter exception or  Exception or issues faced or difficulties" ng-model="exception.text"/>
<button ng-hide="toggleToolButton" class="btn btn-success" ng-click="addException()"><i class="fa fa-attendance" style="font-size:15px;color:red"></i>&nbsp;Add&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
</div>
    </div>

    <p></p>
    <button  class="btn btn-success" ng-click="refreshData()"><i class="fa fa-attendance" style="font-size:15px;color:red"></i>&nbsp;Add&nbsp;<span class="glyphicon glyphicon-ok"></span></button>

    <button  class="btn btn-success" ng-click="reset()">Reset&nbsp;<span class="glyphicon glyphicon-erase"></span></button>
    
    <button  class="btn btn-danger" ng-click="deleteData()">Delete<span class="glyphicon glyphicon-remove"></span></button>

    <!-- <button class="btn btn-danger" ng-click="openDetails()" href=""><i class="" style="font-size:15px;color:white"></i>&nbsp;Delete Attendance&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button> -->
    
    
     <div class="col-md-2">
            <p class="input-group">
              <input type="text" class="form-control"
              datepicker-popup="{{format}}" 
              ng-model="fdt"
              is-open="openedF" min-date="minDate"
              max-date="dtmax" 
              datepicker-options="dateOptions" 
              ng-change="changeSelectF(fdt)"
              date-disabled="disabled(date, mode)" 
              ng-required="true" close-text="Close" />
              <span class="input-group-btn"> 

                <button type="button" class="btn btn-default" ng-click="openF($event)">
                <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
 
        <div class="col-md-3">
          <div class="form-group">
            <div ng-show="showErrorForActivitySelectionBeingNul" class="alert alert-danger">
              <strong>Error!</strong>Please select a valid Activity from drop down
            </div>

              <select class="btn btn-default" ng-model="selectedNameOfActivity" ng-change="changeActivity()" ng-options="nameOfActivity for nameOfActivity in namesOfActivity">
              </select>

          </div>
        </div>
     
        <div class="col-md-2">
          <div class="form-group">
            <input placeholder="Branch code" id="searchTextBox" class="form-control" ng-model="searchAttendanceGrid" ng-change="detectSearchText()"/>
            </div>
          </div>

          <div class="col-md-2">
          <div class="form-group">
            

            <input placeholder="Any name" id="searchTextBoxFirstNames" class="form-control" ng-model="searchAttendanceGridName" ng-change="detectSearchTextName()"/>
            
            

          <!-- <button class="btn btn-success" ng-click="gotoExportExcel()" href="#ssexportexcel"><i class="fa fa-file-excel-o" style="font-size:15px;color:white"></i>&nbsp;Check<span class=""></span></button>  -->
          </div>

        </div>
        
        

        <div ng-show="toggleAttGrid" class="panel-body">
          <div class="panel panel-primary">
          <div class="panel-heading">Attendance Grid<span class="glyphicon glyphicon-ok">&nbsp;</span>
          </div>
          <div ui-grid-pagination ui-grid-selection ui-grid-exporter id="grid1" ui-grid="gridOptions1" class="gridc1" ui-grid-auto-resize>
            <div class="watermark" ng-show="!gridOptions.data.length">No data in the present list</div>
        </div> 
      </div>
    </div>
    

    

    <div ng-show="toggleMainGrid" class="panel-body">
      <div>
        <div ng-show="!levelOneUserLoggedIn && showPrivilageError" class="alert alert-danger">
        <strong>Access denied!!</strong>Not enough privilaged to act.
        </div>
         <div class="panel panel-success">
          <div class="panel-heading">Adminstrator Grid<span class="glyphicon glyphicon-screenshot"></span>
          </div>
      <div id="gridDiv" ui-grid-pagination ui-grid-selection ui-grid-exporter id="grid1" ui-grid="gridOptions" class="grid1" ui-grid-edit ui-grid-row-edit  ui-grid-cellNav ui-grid-auto-resize>
      <div class="watermark" ng-show="!gridOptions.data.length">Loading data if available </div>
      </div>
     <!--  <div ng-if="columnChanged">
        Column Visibility Changed - name: {{ $ctrl.columnChanged.name }} visible: {{ $ctrl.columnChanged.visible }}
      </div> -->
      </div>
    </div>
  </div>
</div>


<!-- <table  style="display: block; 
 width:1200px;height: 500px;
    overflow-y: auto;" class="table table-bordered">
        <thead>
          <th style="width:400px">Branch Code</th>
          <th style="width:400px">Name</th>
          <th style="width:400px">Linked</th>
        </thead>
        <tbody>
        </tbody>    
</table>
 -->

<!-- ui-if="gridOptions.data.length>0"
 ui-grid-auto-resize ng-style="{ 'height': height }" -->
         <!-- <table class="table table-bordered">
          <tr>
              <td>Branch code</td>
              <td>Name</td>
              <td>Linked</td>
          </tr>
            <tr ng-repeat="c in messages1 track by $index">
            <td><b>{{c.branchCode}}</b></td>
            <td>{{c.nameSatsangi}}</td>
            <td><b>{{c.linked}}</b></td>
          </tr> 
        </table> -->

<!-- <div id="hider"></div>

<div id="popup_box">
    
    <div id="popDiv" class="ontop">
      <div id="popup" class="panel panel-primary">
        <small><b>Important note:</b> Click "Clean" before the report is exported</small>
        <a style="color:red;font-weight:bold;padding-left: 520px;cursor:pointer;" id="buttonClose">Close</a>
        <br/>
        <div class="row">
    <div ng-controller="exportDataForBranchCodeCtrl" class="col-md-4">
      
            
              <div class="form-group">
                  <button ng-disabled="levelThreeUserLoggedIn" class="btn btn-success" ng-click="exportExcelForBrSelData(branchCodeSelected)" href=""><i class="fa fa-file-excel-o" style="font-size:15px;color:white"></i>&nbsp;Export to Excel<span class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
         
             
        
     
          </div> 
          <div class="col-md-3">
            <div class="form-group">
                  <select ng-disabled="levelThreeUserLoggedIn" class="btn btn-default" ng-model="selectedfilterSel" ng-change="changeFilterSel()" ng-options="filterSel for filterSel in filtersSels">
                  </select>
              </div>
          </div>
      </div>
      <div class="panel-heading"><label class="nameLabelForPopup">Code = &nbsp;</label>{{branchCodeSelected}} &nbsp;<label class="nameLabelForPopup"></label></div>
              
  <div id="sjs-table" ng-controller="exportDataForBranchCodeCtrl" class="row">
    <div class="col-md-6">
    <div class="panel panel-success">
   
    <table  class="table table-bordered">
    <thead>
     
  
      <tr>
        <td>{{branchCodeSelected}}</td>
        <td>{{nameSatsangiSelected}}</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <th class="nameLabelForth">Activity</th>
        <th class="nameLabelForth">Total Present</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.zValue,branchCodeSelected)" href="">E-Satsang</a>
        </td>
        <td><b>{{ESatsangPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.oneValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>

      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.oneValue,branchCodeSelected)" href="">Branch Morning Satsang</a>
        </td>
        <td><b>{{BranchMorningSatsangPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.oneValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.twoValue,branchCodeSelected)" href="">Branch Evening Satsang</a>
        </td>
        <td><b>{{BranchEveningSatsangPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.twoValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>

       <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.threeValue,branchCodeSelected)" href="">Branch Special Satsang</a>
        </td>
        <td><b>{{BranchSpecialSatsangPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.threeValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.fourValue,branchCodeSelected)" href="">Morning Cleaning</a>
        </td>
        <td><b>{{MorningCleaningPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.fourValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>



      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.fiveValue,branchCodeSelected)" href="">Evening Cleaning</a>
        </td>
        <td><b>{{EveningCleaningPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.fiveValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.sixValue,branchCodeSelected)" href="">Windup</a>
        </td>
        <td><b>{{WindupPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.sixValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>

       <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.sevenValue,branchCodeSelected)" href="">Weekly Cleaning</a>
        </td>
        <td><b>{{WeeklyCleaningPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.sevenValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.eightValue,branchCodeSelected)" href="">Basant Arti</a>
        </td>
        <td><b>{{BasantArtiPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.eightValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>





      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.nineValue,branchCodeSelected)" href="">Basant Bhandara</a>
        </td>
        <td><b>{{DailySatsangEveningPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.nineValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.tenValue,branchCodeSelected)" href="">Holi Arti</a>
        </td>
        <td><b>{{HoliArtiPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.tenValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>

       <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.elevenValue,branchCodeSelected)" href=""> Holi Bhandara</a>
        </td>
        <td><b>{{HoliBhandaraPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.elevenValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.twelveValue,branchCodeSelected)" href="">Arti</a>
        </td>
        <td><b>{{ArtiPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.twelveValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>

<tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.thirteenValue,branchCodeSelected)" href="">Bhandara</a>
        </td>
        <td><b>{{BhandaraPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.thirteenValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.fourteenValue,branchCodeSelected)" href="">Copy Unit</a>
        </td>
        <td><b>{{CopyUnitPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.fourteenValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>

<tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.fifteenValue,branchCodeSelected)" href="">Bag Unit</a>
        </td>
        <td><b>{{BagUnitPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.fifteenValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>


      <tr>
        <td>
        <a id="" ng-click="loadDetailsPerActivityAndBrCd(activityType.sixteenValue,branchCodeSelected)" href="">Night Duty</a>
        </td>
        <td><b>{{NightDutyPresentsFrThisBrCode}}</b></td>
        <td>
          <a id="" class="" ng-click="loadDetailsPerBrCd(activityType.sixteenValue,branchCodeSelected)" href=""><span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>


    </tbody>
  </table>
 </div>
</div>
  -->

<!--    <div class="col-md-6">
    <div class="panel panel-success">
   
    <table  class="table table-bordered">
    <thead>
      
      <tr>
        <th class="nameLabelForth">Attendance Summary</th>
        <th class="nameLabelForth">{{selectedfilterSel}}</th>
        
      </tr> 
    
      

       <tr ng-repeat="summaryNumber in activitySummaryBybranchCode track by $index">
        
        <th>{{summaryNumber.activityName}}</th>
        <th>{{summaryNumber.valueNumber}}</th>
      <tr> 
     
    </thead>
    <tbody>
      

       <tr ng-repeat="c in datesPresentArray track by $index">
        
        <td><b>{{c.datePresent}}</b></td>
        <td><button class="buttonRed" value="{{c.uid}}" style="width:40px;" ng-click="removeData(c,true)"><span  class="glyphicon glyphicon-remove"></span></button></td>
      </tr>  
    </tbody>
  </table>
   </div>
  </div>
   
  </div>

 </div>
</div>
 
</div>



 -->


