<div>

<p>1.)Download the Attendance Reports Daily/Weekly</p>
<hr/>
<p>2.)Click on "Refresh bulbs" to get the correct updates of the atttandance.</p>
<hr/>
<p>3.)Select the activity and date before you mark the attendance.</p>
<hr/>
<p>4.)Mark the attendance by entering details/names in Temporary visitors for the temporary visitors.</p>
<hr/>
<p>5.)Click on the drop down link on the top right corner -->Attendance report-->to download the report.</p>
<hr/>
<p>6.)Please use level2 user login for the Admin work./p>
</div>