<!-- <div class="form-group">
                  <button  class="btn btn-success" ng-click="exportExcelForBrSelData(branchCodeSelected)" href=""><i class="fa fa-file-excel-o" style="font-size:15px;color:white"></i>&nbsp;Export to Excel<span class="glyphicon glyphicon-arrow-right"></span></button>
</div> -->
<div  class="panel-body">
          <div class="panel panel-primary">
          <div class="panel-heading">E-Satsang All Summary
          </div>
          <div ui-grid-pagination ui-grid-selection ui-grid-exporter id="grid1" ui-grid="gridOptions1" class="gridc1" ui-grid-auto-resize>
            <div class="watermark" ng-show="!gridOptions1.data.length">No data in the present list</div>
        </div> 
      </div>
    </div>

