<div class="container">
  <h2>Temporary Visitors</h2>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <p>
        Click if values are not populated&nbsp;>
         <a class="btn btn-success" href="#ssmarkattendance">Date = {{attendanceForThisDataGlobal}} and activity =  {{selectedNameOfActivityGlobal}}</a>
        
      </p>
    </div>
 

    <div class="panel-body">
      <div class="row">
  <form ng-submit="addTV()">
  <div class="col-sm-6">


        <div class="form-group">
          <input ng-disabled="levelTwoUserLoggedIn || levelThreeUserLoggedIn" class="form-control" placeholder="Enter the name" type="text" ng-model="temporary.nameSatsangi" required>
        </div>
<div class="form-group">
          <input ng-disabled="levelTwoUserLoggedIn || levelThreeUserLoggedIn" class="form-control" placeholder="Enter the satsang branch" type="text" ng-model="temporary.branchCode" required>
        </div>


         


  </div>
  <div class="col-sm-6">

        


         <div class="form-group">
            
            <button ng-disabled="levelTwoUserLoggedIn || levelThreeUserLoggedIn" type="submit" class="button"><span>Submit</span></button>
            
          </div>


      </div>
   
  </form>
</div>




    </div>
  </div>
</div>

<div ng-show="isNewUserAdded" class="alert alert-success">
  <strong>Success!</strong>Temporary user's attendance marked successfully
</div>

<div ng-show="alreadyPresent" class="alert alert-danger">
  <strong>Error!</strong>Duplicate values are not allowed
</div>

